.main{
    background-color: #561C71;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}
@media (min-width: 450px) {
    .main{
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
    }
}
.moves{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 450px) {
    .moves{
        border-left: white solid 1px;
    }
}
.button_start{
    background-color: #380F4B;
    text-decoration: none;
    display: grid;
    width: 50%;
    height: 3rem;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}
.players_eliminated{
    display: flex;
    flex-direction: column;
    background-color: #451B59;
    border-radius: 20px;
    width: 100%;
}
@media (min-width: 450px) {
    .players_eliminated{
        
        max-width: 100%;
    }
}
.players_el{
    text-align: center;
}
.list_players{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    ul{
        list-style: none;
    }
}
.witch{
    height: 20rem;
}
.lotipe_witch{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FB9E00;
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
}
.nigths{
    display: flex;
    justify-content: center;
}