*{
    padding: 0;
    margin: 0;
}

#Header{
    background-color: rgb(94, 2, 131);  
}

#box{
   display: grid;
   grid-template-columns: 25% 75%;
}

#photo{
    height: 4rem;
    width: 4rem;
    
}
#title{
   color: white;
}

@media (min-width: 450px) {
    #box{
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
