@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap';

// Main web colors
$dark_purple: #380F4B;
$purple: #561C71;
$light_purple: #5C2875;

// Main web fonts

$primary_font: "Poppins", sans-serif;